body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.quiz-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.large-font {
	font-size: 3.5em;
	text-align:center;
  }

.hide {
	display: none;
}